

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- BRAND -->
    <a class="navbar-brand">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- COLLAPSE START -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- LEFT LINKS -->
      <ul class="navbar-nav me-md-3 text-center">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>

      <!-- SEARCH -->
        
      <div class="airbnb-search-wrapper my-2 my-md-0">
    <form action="/listings/search" method="get">
        <div class="airbnb-search">
           
          <input
            type="text"
            placeholder="Search destinations"
            name="query"
            class="search-input"
          />
         
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </button>
          
        </div>
        </form>
      </div>
      

      <!-- RIGHT LINKS -->
      <div class="navbar-nav ms-md-auto text-center">
        <a class="nav-link" href="/listings/new">Become a host</a>

        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>

        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>

    </div>
    <!-- COLLAPSE END -->

  </div>
</nav>
