<% layout('layouts/boilerplate') %>

 <div class="row mt-3">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Login</h3>
         <form method="post" action="/login" novalidate class="needs-validation" autocomplete="off">
        <div class="mb-3">
        <label for="user" class="form-label">Username</label>
        <input name="username" placeholder="enter username" type="text" class="form-control" required>
            <div class="invalid-feedback">please enter username</div>
           
        </div>
          <!-- <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input name="user[email]" placeholder="enter email" type="email" id="email" class="form-control" required>
            <div class="valid-feedback">looks good</div>
             
        </div> -->
          <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" placeholder="enter username" type="password" id="password" class="form-control" required>
            <div class="valid-feedback">looks good</div>
             <div class="invalid-feedback">please enter password</div>
        </div>
        <button class=" btn btn-success">Login</button>
        </form>
        </div>
 </div>